
/*|---------------|BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "(max-width:450px)";

$BREAKPOINT-TABLET: "(max-width: 1200px) and (min-width:451px)";

$BREAKPOINT-MOBILE: "(min-width: 1201px)";

