.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;

    .options{
        align-self: center;
        
    }
    .list{
        align-self: flex-end;
        
    }

    @media (min-width:451px) and (max-width: 1200px) {
        flex-direction: column-reverse;
        justify-content: none;
        align-content: none;

        .filterButton0{
            position: absolute;
            right: 10%;
            top: 14%;
            border: none;

            .filterButtonIcon{
                font-size: 25px;
                color:#999999;
            }
        }

        .filterButton{
            position: absolute;
            right: 30px;
            top: 30px;
            border: none;

            .filterButtonIcon{
                font-size: 25px;
                color:#999999;
            }
        }

       

        .options{
            align-self: none;
            width: 100%;
            
            
        }
        .list{
            
            align-self: center;
            width: 100%;
            height: 100%;
  
        }
    }
    
    @media(max-width:450px){
        flex-direction: column-reverse;
        justify-content: none;
        align-content: none;
        flex:1;

        .filterButton0{
            position: absolute;
            right: 10%;
            top: 14%;
            border: none;

            .filterButtonIcon{
                font-size: 25px;
                color:#999999;
            }
        }

        .filterButton{
            position: absolute;
            right: 30px;
            top: 30px;
            border: none;

            .filterButtonIcon{
                font-size: 25px;
                color:#999999;
            }
        }
        
        .options{
            
            align-self: none;
            width: 100%;
            height: 26%;
            
        }
        .list{
            flex: 1;
            width: 100%;
            
            
        }

    }
    
}