.container{
    width: 26.8125rem;
    height: 72.396%;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 50px 0px 0px 50px;

    .title{
        padding-top: 40px;
        padding-left: 40px;
    }

    .sliderBar{
        padding-left: 40px;
        padding-top: 20px;
        width: 349px;

        span{
            font-size: 12px;
            color: #939393;
        }

        div{
            display: flex;
            justify-content: space-between;
            span{
                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 19px;

                border: 2px solid #DBDBDB;
                border-radius: 10px;

                min-width: 77px;
                min-height: 34px;

                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .types{
        max-width: 351px;
        padding-left: 40px;
        padding-top: 45px;

        span{
            color:#939393;
            font-size: 12px;
        }

        .table{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 62px;
            
            div{
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                
                span{
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    gap:10px;
                    
                    input{
                        height: 20px; 
                        width: 20px;
                    }

                    input:checked{
                        background-color: #FFFFFF;
                        box-shadow: 0px 0px 6px #00C1FD99;
                        border: 2px solid #00A7FD;
                        border-radius: 6px;
                    }
                }
            }
        }  
    }

    @media (min-width:451px) and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 50px 50px 50px 50px;

        .sliderBar{
            width: 90%;
            align-self: center;

            padding-left: 0px;
        }
        .types{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 90%;
            height: 41%;
            padding-bottom: 2rem;
            padding-top:2rem;

            .table{
                overflow-y: scroll;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                div{
                    display: grid;
                    grid-template-columns:  1fr 1fr;
                }
            }
            .table::-webkit-scrollbar{
                width: 12px;
                    
                
            }
            .table::-webkit-scrollbar-thumb{
                background: #DBDBDB 0% 0% no-repeat padding-box;
                width: 12px;
                height: 54px;
                border-radius: 6px;
            
            }
        
            .flatcontainer::-webkit-scrollbar-track {
                background: #FFFFFF 0% 0% no-repeat padding-box;  
                border-radius: 9px;
                }
        }
        
    }

    @media(max-width:450px){
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 50px 50px 50px 50px;
        align-content: center;
        box-shadow: 1px 1px 3px 1px rgb(179, 177, 177);
        padding-bottom: 2rem;
        

        .title{
            padding-top: 2rem;
            padding-left: 20px;
        }

        .sliderBar{
            align-self: center;
            padding-left: 0px;
            width: 85%;
            
        }
        .types{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 95%;
            height: 15vh;
            
            padding-top:1rem;
            padding-left: 10px;
            padding-right: 10px;
            
            

            .table{
                overflow-y: scroll;
                .col3{
                    margin-right: 10px;
                }
                .col1{margin-left: 5px;
                }
                div{row-gap: 15px;}
                
            }
            .table::-webkit-scrollbar{
                width: 12px;
                    
                
            }
            .table::-webkit-scrollbar-thumb{
                background: #DBDBDB 0% 0% no-repeat padding-box;
                width: 12px;
                height: 54px;
                border-radius: 6px;
            
            }
        
            .flatcontainer::-webkit-scrollbar-track {
                background: #FFFFFF 0% 0% no-repeat padding-box;  
                border-radius: 9px;
                }
        }
        

    }
}