.container{
    width: 26.8125rem;
    height: 72.396%;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 50px 0px 0px 50px;

    .title{
        padding-top: 40px;
        padding-left: 40px;
    }

    .filterButtom{
        display: none;
    }

    .sliderBar{
        padding-left: 40px;
        padding-top: 20px;
        width: 349px;

        span{
            font-size: 12px;
            color: #939393;
        }

        div{
            display: flex;
            justify-content: space-between;
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                color:#000000;

                margin-top: 19px;

                border: 2px solid #DBDBDB;
                border-radius: 10px;

                min-width: 77px;
                min-height: 34px;

                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .types{
        max-width: 351px;
        padding-left: 40px;
        padding-top: 45px;

        span{
            color:#939393;
            font-size: 12px;
        }

        .table{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 62px;
            
            div{
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                
                span{
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    gap:10px;
                    color: #333333;
                    
                    input{
                        display: none;
                    }
                    input+label::before{
                        content: "";
                        width: 20px;
                        height: 20px;
                        border-radius: 6px;
                        background-color: transparent;
                        border: 3px solid #DBDBDB;
                        vertical-align: middle;
                        display: inline-block;
                        margin-right:10px;
                    }

                    input:checked+label::before{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 12 9'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2300a7fd;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-6 -7.602)'%3E%3Cpath class='a' d='M16.507,7.6l-6.09,6.04-2.926-2.9L6,12.221l2.925,2.9L10.417,16.6l1.493-1.479L18,9.082Z'/%3E%3C/g%3E%3C/svg%3E");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #FFFFFF;
                        box-shadow: 0px 0px 6px #00C1FD99;
                        border: 3px solid #00A7FD;
                        border-radius: 6px;
                    }

                    input:checked + label{
                        color: #00A7FD;
                        text-shadow: 0px 0px 6px #00C1FD66;
                    }
                    
                }
            }
        }  
    }
}

@import './1200px.scss';
@import './450px.scss';
